@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    background-color: #f7f7f7; /* Couleur de fond simple */
    color: #333; /* Couleur de texte */
  }
}
